.form-container{
    position: absolute;
    top: 15vh;
    /*background: #fff;*/
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 black;
}

#exampleInputEmail1, #exampleInputPassword1{
    opacity: .8;
    overflow: hidden;
}
.links{
    color: white;
}